
a {
    color: #fff;
}

a:focus, a:hover {
    color: #fff;
}

.navbar-default {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #1abc9c;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .sidebar{
  background-color: #16a085;
    border-color: #16a085;
}

.navbar-brand>img {
    display: block;
    margin-top: -6px;
}

.navbar-form {
    padding: 0px 20px;
}

@media (min-width: 768px)
.navbar-form .input-group>.form-control {
    min-width: 300px;
}

.nav>li.active>a {
    text-decoration: none;
    background-color: #1abc9c;
}

.nav>li>a {
    padding: 10px 20px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #1abc9c;
}

.sidebar ul li {
    border-bottom: 1px solid #16a085;
}

.btn-search {
    color: #FFF;
    background-color: #16A085;
    border-color: #16A085;
}