
@font-face {
    font-family: quark-light;
    src: url(fonts/quark-light.otf);
}

@font-face {
    font-family: quark-bold;
    src: url(fonts/quark-bold.otf);
}

light {
    font-family: quark-light;
}

bold {
    font-family: quark-bold;
}

body {
    font-family: quark-light,"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    background-color: #16a085;
    padding-bottom: 0px;
}

#page-wrapper {
    padding: 0 15px;
    min-height: calc(100vh - 51px);
    color: #2c3e50;
    background-color: #ecf0f1;
}

a {
    color: #fff;
}

a:focus, a:hover {
    color: #fff;
}

.page-header {
    color: #fff;
    text-align: center;
    padding: 2px 0 0;
    margin: 0 -30px 20px -45px;
    background-color: #7f8c8d;
    line-height: 1.5;
    border-bottom: 0px;
}

.navbar-default {
    background-color: #1abc9c;
    border-color: #1abc9c;
}

.navbar-default .navbar-brand {
    color: #FFF;
    width: 230px;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #1abc9c;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-default .sidebar{
  background-color: #16a085;
    border-color: #16a085;
}

.navbar-brand>img {
    display: block;
    margin-top: -6px;
}

.navbar-form {
    padding: 0px 20px;
    margin: 8px 0px;
}

@media (min-width: 768px)
.navbar-form .input-group>.form-control {
    min-width: 300px;
}

.nav>li.active>a {
    text-decoration: none;
    background-color: #1abc9c;
}

.nav>li>a {
    letter-spacing: 1px;
    font-weight: 900;
    padding: 14px 20px 12px;
}

.nav>li>a:focus, .nav>li>a:hover {
    background-color: #1abc9c;
}

.sidebar ul li {
    border-bottom: 1px solid #16a085;
}

.btn-search {
    color: #FFF;
    background-color: #16A085;
    border-color: #16A085;
}

.center-block {
    display: table;
    margin: 0 auto;
}

