<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Make an appointment</h1>
		</div>
	</div>

	<!-- ----------------------------------- Make an Appointment ------------------------------------ -->
	<div class="row" ng-show="showMake">
		<div class="col-lg-6 col-lg-push-6">
			<div class="panel panel-default">
				<div class="panel-body">
	                <div class="row">
	                    <div class="col-lg-12">
	                        <form role="form" ng-submit="makeData.submit()">
	                            <div class="form-group">
	                                <label>Hospital number / Citizen ID</label>
	                                <input class="form-control" ng-model="makeData.number">
	                                <p class="help-block">eg. HN12345678 / 1001123456789</p>
	                            </div>
	                            <div class="form-group">
	                                <label>Search by doctor’s name or department</label>
	                                <select class="form-control" 
	                                		ng-model="makeData.selectedType"
	                                    	ng-options="type as type.label for type in makeData.types track by type.id">
	                                </select>
	                            </div>
	                            <div class="form-group" ng-show="makeData.selectedType.label=='Department'">
	                                <label>Department</label>
	                                <select class="form-control" 
	                                		ng-model="makeData.selectedTypeDetail"
	                                    	ng-options="detail as detail.department_name for detail in makeData.selectedType.details track by detail.id">
	                                </select>
	                            </div>
	                            <div class="form-group" ng-show="makeData.selectedType.label=='Doctor'">
	                                <label>Doctor</label>
	                                <select class="form-control" 
	                                		ng-model="makeData.selectedTypeDetail"
	                                    	ng-options="detail as detail.name for detail in makeData.selectedType.details track by detail.id">
	                                </select>
	                            </div>
	                            <button type="submit" class="btn btn-outline btn-primary btn-lg btn-block">
	                             	NEXT STEP
	                            </button>
	                        </form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-lg-pull-6">
			<p class="lead text-center">
				<br>
				<bold>WALVE</bold> hospital makes it easier<br>
				for the patients to make<br>
				appointments with doctors<br>
				and<br>
				auto calculate the best time from<br>
				the available schedule to fit the patients need.<br>
				<br>
				For a complete list of doctors,<br>
				or<br>
				if you would like to speak to a representative<br>
				<br>
				please contact us at<br>
				<bold>+660 000 0000</bold><br>
				or<br>
				<br>
				<bold>0000</bold><br>
				(Local calls)
			</p>
		</div>
	</div>

<!-- ----------------------------------- Confirm Data------------------------------------ -->
	<div class="row" ng-show="showConfirm">
		<div class="col-lg-6 col-centered">
			<div class="panel panel-default">
				<div class="panel-body">
	                <div class="row">
	                    <div class="col-lg-12 ">
	                        <form role="form" ng-submit="confirmData.submit()">
	                        	<label>PATIENT DATA</label><br>
	                            <label>Hospital number: {{responseData.patient.hospital_number}}</label><br>
	                            <label>Name: {{responseData.patient.name}}</label><br>
	                            <label>Lastname: {{responseData.patient.lastname}}</label><br>
	                            <br>
	                            <label>DOCTOR DATA</label><br>
	                            <label>Name: {{responseData.doctor.name}}</label><br>
	                            <label>Lastname: {{responseData.doctor.lastname}}</label><br>
	                            <br>
	                            <label>APPOINTMENT DATE</label><br>
	                            <label>{{responseData.earliestTime}}</label><br>
	                            <br>
	                            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="confirmData.changeDate()">
	                                CHANGE APPOINTMENT DATE
	                            </button>

	                            <button type="submit" class="btn btn-outline btn-primary btn-lg btn-block">
	                            	CONFIRM
	                            </button>
	                        </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- ----------------------------------- Edit Date ------------------------------------ -->
	<calendar ng-show="showCalendar" data="calendar"></calendar>
	<!-- /.row -->
</div>