<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Make an appointment</h1>
		</div>
	</div>
	<div class="row" ng-hide="isNextStep">
	
		<div class="col-lg-6 col-lg-push-6">
			<div class="panel panel-default">
				<div class="panel-body">
	                <div class="row">
	                    <div class="col-lg-12">
	                        <form role="form" ng-submit="makeData.submit()">
	                            <div class="form-group">
	                                <label>Hospital number / Citizen ID</label>
	                                <input class="form-control" ng-model="makeData.number">
	                                <p class="help-block">eg. HN12345678 / 1001123456789</p>
	                            </div>
	                            <div class="form-group">
	                                <label>Search by doctor’s name or department</label>
	                                <select class="form-control" 
	                                		ng-model="makeData.selectedType"
	                                    	ng-options="type as type.label for type in makeData.types track by type.id">
	                                </select>
	                            </div>
	                            <div class="form-group" ng-hide="makeData.selectedType.length==0">
	                                <label>{{makeData.selectedType.label}}</label>
	                                <select class="form-control" 
	                                		ng-model="makeData.selectedTypeDetail"
	                                    	ng-options="detail as detail.label for detail in makeData.selectedType.details track by detail.id">
	                                </select>
	                            </div>
	                             <button type="submit" class="btn btn-default">NEXT STEP</button>
	                        </form>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="col-lg-6 col-lg-pull-6">
			<p class="lead text-center">
				<br>
				<bold>WALVE</bold> hospital makes it easier<br>
				for the patients to make<br>
				appointments with doctors<br>
				and<br>
				auto calculate the best time from<br>
				the available schedule to fit the patients need.<br>
				<br>
				For a complete list of doctors,<br>
				or<br>
				if you would like to speak to a representative<br>
				<br>
				please contact us at<br>
				<bold>+660 000 0000</bold><br>
				or<br>
				<br>
				<bold>0000</bold><br>
				(Local calls)
			</p>
		</div>
	</div>

	<div class="row" ng-show="isNextStep">
	
		<div class="col-lg-6 col-centered">
			<div class="panel panel-default">
				<div class="panel-body">
	                <div class="row">
	                    <div class="col-lg-12 ">
	                        <form role="form" ng-submit="confirmData.submit()">
	                            <label>{{confirmData.patient}}</label>
	                                <label>{{confirmData.doctor}}</label>
	                                <label>{{confirmData.earliestTime}}</label>
	                            <div class="form-group">
	                                <!-- Button trigger modal -->
		                            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
		                                Change appointment date
		                            </button>
		                            <!-- Modal -->
		                            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		                                <div class="modal-dialog">
		                                    <div class="modal-content">
		                                        <div class="modal-header">
		                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		                                            <h4 class="modal-title" id="myModalLabel">Modal title</h4>
		                                        </div>
		                                        <div class="modal-body">
		                                            Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		                                        </div>
		                                        <div class="modal-footer">
		                                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		                                            <button type="button" class="btn btn-primary">Save changes</button>
		                                        </div>
		                                    </div>
		                                    <!-- /.modal-content -->
		                                </div>
		                                <!-- /.modal-dialog -->
		                            </div>
		                            <!-- /.modal -->
	                            </div>

	                             <button type="submit" class="btn btn-default">CONFIRM</button>
	                        </form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- /.row -->
</div>