<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Make an appointment</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-lg-6">
			<p class="lead text-center">
				<br>
				<bold>WALVE</bold> hospital makes it easier <br>
				for the patients to make <br>
				appointments with doctors<br>
				and<br>
				auto calculate the best time from<br>
				the available schedule to fit the patients need. <br>
				<br>
				<br>
				For a complete list of doctors, <br>
				or <br>
				if you would like to speak to a representative<br>
				<br>
				<br>
				please contact us at <br>
				<bold>+660 000 0000</bold><br>
				or <br>
				<br>
				<bold>0000</bold><br>
				(Local calls)
			</p>
		</div>
		<div class="col-lg-6">
			<p class="lead">This is an example of lead body copy.</p>
		</div>
	</div>
	<!-- /.row -->
</div>