<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Schedule</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row" ng-hide="showMenu">
		<div class="panel panel-default">
			<div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                    	<div class="form-group">
                            <label>Doctor</label>
                            <select class="form-control" 
                        		ng-model="selectedDoctor"
                            	ng-options="doctor as doctor.name for doctor in doctorList track by doctor.staff_id"
                            	ng-change="calendar.refreshTable(calendar.curMon)" >
                       		</select>
                        </div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
                            <label>Filter by Department</label>
                            <select class="form-control" 
                        		ng-model="selectedDepartment"
                            	ng-options="department as department.department_name for department in departmentList track by department.department_id">
                       		</select>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<calendar data="calendar" ng-hide="showMenu"></calendar>

	<div class="row" ng-show="showMenu">
		<div class="col-lg-6 col-centered">
			<div class="panel panel-default">
				<div class="panel-body">
	                <div class="row">
	                    <div class="col-lg-12 ">
	                        <button type="button" class="btn btn-outline btn-primary btn-lg btn-block" ng-click="addSchedule()">
	                            ADD A SCHEDULE
	                        </button>
	                        <button type="button" class="btn btn-outline btn-primary btn-lg btn-block" ng-click="postponeStart()">
	                            POSTPONE THE SCHEDULE
	                        </button>
	                        <button type="button" class="btn btn-outline btn-primary btn-lg btn-block" ng-click="deleteSchedule()">
	                            REMOVE THE SCHEDULE
	                        </button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>