<div class="container-fluid">
	<div class="row">
		<div class="col-lg-12">
			<h1 class="page-header">Schedule</h1>
		</div>
		<!-- /.col-lg-12 -->
	</div>
	<!-- /.row -->
	<div class="row">
		<div class="panel panel-default">
			<div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                    	<div class="form-group">
                            <label>Doctor</label>
                            <select class="form-control" 
                        		ng-model="selectedDoctor"
                            	ng-options="doctor as doctor.name for doctor in doctorList track by doctor.staff_id"
                            	ng-change="calendar.refreshTable(calendar.curMon)" >
                       		</select>
                        </div>
					</div>
					<div class="col-md-6">
						<div class="form-group">
                            <label>Filter by Department</label>
                            <select class="form-control" 
                        		ng-model="selectedDepartment"
                            	ng-options="department as department.department_name for department in departmentList track by department.department_id">
                       		</select>
                        </div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<calendar data="calendar"></calendar>
</div>